@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #000000;
}


.exitoso{
    display: flex;
    justify-content: center;
    background-color: rgb(18, 175, 18);
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.fallido{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.1rem;
}


.ytLink{
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.ytLink:hover{
    background-color: #000000;
    color: #fff;
    border: 1px solid #fff;
}

#inputBusqueda{
    border: none;
    padding: 19px 35px;
    border-radius: 2px ;

}

button{
    background: #fff;
    padding: 15px 35px;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 2px;
    transition: 0.5s ease;
    border: none;
    font-family: orbitron;
    margin: 5px;
    cursor: pointer;

}

button:hover{
    color: #fff;
    background-color: #000000;
    border: 1px solid #fff;
}




.Chart {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px;  */
    height: 200px; 
}


.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#contenedorTarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 20px;
    justify-items: center;
    max-width: 1000px;
    justify-content: center;
    font-family: orbitron;
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
}

.tarjeta {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #fff;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tarjeta:hover{
    background-color: #3b3b3b;
}

.tarjeta h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tarjeta img {
    width: 100%;
    height: auto;
}


